body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

form {
	background-color: #f2f2f2;
	padding: 20px;
	margin: 100px auto;
	width: 300px;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 10px 1px #ccc;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
	padding: 5px;
	margin-bottom: 10px;
	width: 100%;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}